*.jpeg
*.jpg
*.png
*.bmp

*.JPEG
*.JPG
*.png
*.BMP

*.mp4
*.mp3
*.mpeg
*.avi
*.m4v


*.swp

~*
*~
*DS_Store
*DS_STORE

out*
*out

__pycache__/*
*.pyc
*.pt
*.pth


*.txt
*.out


*.pt
*.pth
*.csv


*/experiments/*
*/out/*

*.edu
*.weight
